@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --pharagraph-color: #444;
  --main-color: #ee6e73;
  --soft-color: #eee;
}

* {
  box-sizing: border-box;
  color: var(--pharagraph-color);
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

.center {
  display: block;
  margin: 1rem auto;
}

.card {
  width: 100%;
  padding: 1.5rem;
  min-height: 80px;
  border-radius: 2px;
  margin: 1.5rem 0;
}

.shadow {
  box-shadow: 0 .4rem 1.1rem rgba(0,0,0,.1);
}

.container {
  width: 100%;
  padding: 0px 1rem;
  margin: 0px auto;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
}

.header h1 {
  color: var(--main-color);
}

main {
  padding: 4rem 0px !important;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sticky-position {
  position: -webkit-sticky;
  position: sticky;
}


.content {
  margin-top: 1.5rem;
  padding: 1rem;
  width: calc(70% - 1rem);
  margin-right: 1rem;
}

#convertion-result, .history-item {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  align-items: center;
}


#from-value, #to-value, .from-value, .to-value {
  font-weight: 600;
  font-size: 32px;
  margin-right: 5px;
  color: var(--main-color);
}

.from-value, .to-value {
  color: var(--pharagraph-color)
}

#from-type, #to-type, .from-type, .to-type {
  color: #aaa;
}

#equal, .equal {
  margin: 0 2rem;
}

input, select {
  height: 44px;
  width: 100%;
  border: 1px solid var(--soft-color);
  outline: none;
  box-shadow: none;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

input {
  padding: 1rem;
}

select {
  padding: 0 1rem;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

button {
  color: #FFF;
  min-width: 44px;
  cursor: pointer;
  padding: 0.6rem 1rem;
  margin: 0.5rem 0;
  margin-right: 0;
  border-radius: 3px;
  font-weight: 600;
  font-size: 1rem;
  background: var(--main-color);
  outline: none;
  border: 0;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form > div {
  width: 48%;
}

.sidebar {
  width: 30%;
  padding-top: 1rem;
}

.sidebar .sticky-position {
  top: 5rem;
}

.sidebar section > h3 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--gray-color);
}

.sidebar img {
  display: block;
  width: 100%;
  max-width: 150px;
  margin: 1rem auto;
}

.sidebar section {
  padding: 0.25rem 1rem;
}

footer {
  padding: 1rem;
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}


@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}

@media (max-width: 768px) {
  main {
      display: block !important;
  }

  main .content {
      width: 100%;
  }

  .sidebar {
      width: 100%;
      padding: 1rem;
  }
}
